* {
    margin: 0;
    padding: 0;
    FONT-WEIGHT: 300;
}
#div1{
    background-color: rgb(196, 196, 196);
    width: 100vw;
    height:300px;
}
#naslov{
    color: rgba(255, 254, 254, 0.747);
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
}
#raspSred{
    height: 50px;
    color:white;
    text-align: center;
    font-size: 52px;
    padding-top: 30px;
}
#divUP{
    margin-top: 30px;
    background-color:rgb(85, 184, 187);
    margin-left: 39%;
    width: 23vw;
    height: 7vh;
}
#divUR{
    margin-top: 10px;
    background-color: rgb(238, 55, 64);
    margin-left: 39%;
    width: 23vw;
    height: 7vh;
}
#tabelaP{
    padding-left: 0
}
#tabelaR{
    padding-left: 0
}
#nazivUP, #nazivUR{
    padding-top: 12px;
    text-align: left;
    color: rgba(0, 0, 0, 0.568);
}
#iznosUP{
    padding-top: 15px;
    padding-left: 11vw;
    color:white;
}
#iznosUR{
    padding-top: 15px;
    padding-left: 11vw;
    color: white;
}
#procenatGore{
    background: rgba(238, 172, 172, 0.315);
    color: rgb(235, 232, 226);
    padding-left: 10px;

}
#div2{
    background-color: rgb(240, 240, 240);
    padding-left: 35%;
    height: 8vh;
    padding-top: 15px;
}
#selektuj{
    height:44px;
    margin-right: 10px;
}
#opis{
    height:40px;
    margin-right: 10px;
    width: 350px;
}
#inputvrednost{
    height:40px;
    margin-right: 10px;
    width: 70px;
}
#potvrdi{
    color: red;
    border-color: red;
    border-radius: 50%;
    height:40px;
    width: 40px;
    outline: none;
}
#div3{
    width: 100vw;
    height: 300px;
}
#kolona1{
    padding-left: 30%;
}
#kolona2{
    padding-left: 30%;

}
#donjaTabela{
    padding-top: 50px;
    margin-left: 15%;
    display: inline-flex;
}
#kolona1{
    margin-left: 0%;
    padding-left: 0%;
    text-align: left;
    /* border:1px solid red; */
    display: inline-flex;
    width: 600px;
    margin-right: 20px;
}
#kolona2{
    margin-left: 0%;
    padding-left: 0%;
    text-align: left;
    /* border: 1px solid blue; */
    display: inline-flex;
    width: 600px;
}
#ispisPrihoda{
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(83, 83, 83, 0.555);
    color: rgb(85, 184, 187);
    text-align: left;
    height: 25px;
}
#ispisRashoda{
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(83, 83, 83, 0.555);
    color: rgb(238, 55, 64);
    text-align: left; 
    height: 25px;

}
#opisPrihod{
    color: black;
    display: inline-block;
    padding-top: 10px;
    width: 450px;
}
#opisRashod{
    color: black;
    display: inline-block;
    padding-top: 10px;
    width: 420px;
}
#paragrafprihodi{
    display: inline;
    text-align: right;
    padding-right: 0%;
    padding-top: 10px;

}
#paragrafrashodi{
    display: inline-block;
    text-align: right;
    padding-right: 0%;
    padding-top: 10px;
}
/* #procenatDole{
    display: inline-block;
} */
#pPrihodi{
    color: rgb(85, 184, 187);
    width: 600px;
    text-align: left;
    border-bottom: 1px solid rgba(83, 83, 83, 0.555);
}
#pRashodi{
    color: rgb(238, 55, 64);
    width: 600px;
    text-align: left;
    border-bottom: 1px solid rgba(83, 83, 83, 0.555);
}
#delete {
    width: 20px;
    margin-left: 20px;
    font-size: xx-large;
    font: bold;
    border: none;
    outline: none;
    background: none;
    color:  white;
}
#delete:hover {
    display: inline-block;
    color:  black
}
#delete2 {
    margin-left: 20px;
    width: 20px;
    font-size: xx-large;
    font: bold;
    border: none;
    outline: none;
    background: none;
    color:  rgb(255, 255, 255);
}
#delete2:hover {
    display: inline-block;
    color:  black
}
#procenatDole{
    display: inline-block;
    margin-left: 5px;
    background: rgba(238, 172, 172, 0.315);
    margin-top: 12px;

    
}